.bg-custom {
  background-image: url('./assets/Hero_baground_gradient.svg');
  background-size: cover;
  background-position: center;
}

.bg-custom2 {
  background-image: url('./assets/Hero_baground_gradient3.svg');
  background-size: cover;
  background-position: bottom;
}

.bg-custom3 {
  background-image: url('./assets/Hero_baground_gradient2.svg');
  background-size: cover;
  background-position: top;
}

.footerBgImg{
  background-image: url('./assets/footer.png');
  background-size: cover;
  background-position: top;
}